<div id="topMenu">
	<div > Top menu:: </div>
    <app-menu [isLeftMenu] = false></app-menu>
</div>
<div id="centerPage">
	<div id="leftMenu">
        <div>Left menu</div>
        <app-menu [isLeftMenu] = "true"></app-menu>
    </div>

  <div id="mainContent" [style.background-color]="getMainBackColor()">
            <div class="innerMainContent" id="posts" *ngIf="showPosts">
                <app-posts [sourceBtn]="(btnClickedEnum)"></app-posts>
            </div>
            <div class="innerMainContent" id="photos" *ngIf="showPhotos">
                <app-photos [sourceBtn]="(btnClickedEnum)"></app-photos>
            </div>
            <div class="innerMainContent" id="contactUsParent" *ngIf="showContactUs" class="flex-child">
                <app-contactus [sourceBtn]="(btnClickedEnum)"></app-contactus>
            </div>
    </div>
</div>

<div id="buttomMenu">
  <div>Buttom menu :: </div>
  <app-menu [isLeftMenu] = "false"></app-menu>
 </div>
