.markIcon {
    width: 20px;
    height: 20px;
}

.floatdiv{
    float: right;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: -0.8;
    width: 100%;
    margin: 1em;
    padding: 1em;
} 

.container-float{
    clear: right;
}